@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="https://accounts.google.com/o/oauth2/auth?client_id=767995890535.apps.googleusercontent.com&response_type=code&scope=openid%20profile%20email&redirect_uri=http://localhost:5850/Home/Callback&state=@(ViewBag.state)&login_hint=jsmith@example.com&openid.realm=http://localhost:5850/Home/Callback&hd=redtone.com">Login</a>
